# Godot 4+ specific ignores
.godot/

# Mods aren't part of the game
Mods/

# VScode settings, not part of the game
.vscode/

# The license says I can't rehost it,
# So it can't go to GitHub unfortunately
Fonts/Hey Comic.ttf